@import "@/assets/scss/variables/colors";
@import "@/assets/scss/variables/scrollbar";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  outline-color: $primary;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  line-height: 1.6;
  font-size: 15px;
  overflow-x: hidden;
}

a {
  color: $primary;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}