@import "@/assets/scss/variables/media-breakpoints";

.base-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, .3);

  
  &__inner {
    background-color: #fff;
    padding: 44px 22px;
    border-radius: 12px;
    position: relative;
    max-width: 640px;
    width: 100%;
    margin: 0 15px;
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
  }
}
